.u-section-1 {
  background-image: none;
  min-height: 1334px;
}

.u-section-1 .u-group-1 {
  background-image: none;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.45);
  min-height: 596px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-shape-1 {
  height: 1042px;
  background-image: none;
  width: 1140px;
  margin: -304px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 919px;
  margin: -1164px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 663px;
}

.u-section-1 .u-container-layout-2 {
  padding-top: 0;
}

.u-section-1 .u-image-1 {
  width: 547px;
  height: 547px;
  margin: 11px auto 0 173px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 424px;
}

.u-section-1 .u-container-layout-3 {
  padding: 60px 40px 105px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 866px;
  }

  .u-section-1 .u-shape-1 {
    height: 917px;
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 616px;
    margin-top: -1039px;
    margin-bottom: 34px;
    margin-left: calc(((100% - 720px) / 2) + 52px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 736px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 490px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 389px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 592px;
  }

  .u-section-1 .u-shape-1 {
    height: 888px;
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 276px;
    margin-top: -1009px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 340px) / 2) + 32px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 245px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 30px 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 385px;
}

.u-section-2 .u-text-1 {
  margin: 4px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 982px;
  margin: 4px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 237px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-2 {
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 237px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 4px;
  line-height: 1.6;
  font-weight: 500;
  font-size: 1.25rem;
  margin: 42px 0 0 27px;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 2px;
  margin: 35px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-right: 16px;
    margin-left: 18px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 13px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 6px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 861px;
}

.u-section-3 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 9px 0 40px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 340px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  min-height: 340px;
  background-image: url("images/cluster1wordcloud-train.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 80px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 410px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  width: 99px;
  height: 34px;
  margin: 20px auto 0 0;
  padding: 5px 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 474px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  width: 99px;
  height: 34px;
  margin: 20px auto 0 0;
  padding: 5px 0;
}

.u-section-3 .u-image-2 {
  min-height: 276px;
  background-image: url("images/ggeconodist.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 276px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-3 .u-image-1 {
    min-height: 280px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 338px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 391px;
  }

  .u-section-3 .u-image-2 {
    min-height: 228px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 228px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 415px;
  }

  .u-section-3 .u-image-1 {
    min-height: 415px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    min-height: 361px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 361px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2215px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 747px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 534px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 478px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 625px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1511px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-3 .u-image-1 {
    min-height: 405px;
  }

  .u-section-3 .u-image-2 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 330px;
  }
}